.about
	@extend %bg
	@extend %margin-bottom
	+clearfix

.about__container
	@extend %section-padding
	+clearfix
	+breakpoint($sm__brkpoint)
		max-width: 861px
		margin: auto
	+breakpoint(1300px)
		max-width: 100%
		+span(8 of 12)
		margin: 0 span(2 of 12) + gutter(12)

.about__col1
	+breakpoint($sm__brkpoint)
		+span(5 of 10)

.about__col2
	+breakpoint($sm__brkpoint)
		+span(5 at 6 of 10)

.about__text
	margin-bottom: 45px

.about__link
	@extend %link__shadow
