.about
	@extend %bg
	@extend %margin-bottom
	+clearfix

.about__container
	@extend %section-padding
	+clearfix
	+breakpoint($sm__brkpoint)
		+container($md__brkpoint)
	+breakpoint($lg__brkpoint)
		max-width: 100%
		+span(10)
		margin: 0 span(2 wide)

.about__col1
	+breakpoint($sm__brkpoint)
		+span(5 of 10)
		margin: 0 span(2.5 wide of 10)
	+breakpoint($md__brkpoint)
		margin: 0

.about__col2
	+span(12)
	margin: 0 span(1 wide)
	+breakpoint($sm__brkpoint)
		+span(5 of 10 last)
		margin: 0 span(2.5 wide of 10)
	+breakpoint($md__brkpoint)
		margin: 0

.about__text
	margin-bottom: 45px

.about__link
	@extend %link__shadow
