//
// About section
//
.about__hdln
	@extend %hdln__shadow
	text-align: center
	margin-bottom: 40px
	+breakpoint($md__brkpoint)
		+span(5 at 6 of 10)
		text-align: left

//
// Works section
//
.works__hdln
	@extend %hdln__shadow
	font-size: em(38px)
	margin: 0 0 55px