//
// About section
//
.about__hdln
	@extend %hdln__shadow
	@extend %align-center
	margin-bottom: 40px
	+breakpoint($md__brkpoint)
		+span(5 at 6 of 10)
		text-align: left

//
// Works section
//
.works__hdln
	@extend %hdln__shadow
	font-size: em(38px)
	margin: 0 0 55px

.webdev__icon-name
	font-size: em(12px)
	@extend %link__shadow
	+breakpoint($sm__brkpoint $md__brkpoint)
		font-size: em(10px)
	+breakpoint($lg__brkpoint)
		font-size: em(14px)

//
// Skills section
//
.skills__hdln
	@extend %link__shadow
	@extend %align-center
	margin: 0 0 55px

.skills__name
	@extend %link__shadow
	margin-bottom: 30px