.navbar
	float: right
	@extend %align-center
	+clearfix

.nav
	background: $dark-blue
	width: 250px
	padding: 35px 0
	height: 100%
	position: fixed
	top: 0
	right: -250px
	z-index: 100
	@extend %transition
	overflow-y: auto

.nav__link
	color: $white
	display: block
	padding: 20px
	&:hover
		border-color: $gray