
//Fonts
$font-url-baron     : '../font/baron-neue.regular.otf'
$font-url-baron-b     : '../font/baron-neue.bold.otf'
$font-url-arialmt   : '../font/ArialMT.otf'
$font-family-baron  : 'Baron Neue', sans-serif
$font-family-baron-b  : 'Baron Neue Bold', sans-serif
$font-family-arialmt: 'Arial MT', Arial, Helvetica, sans-serif
//Colors
$white       : #fdfdfd
$black       : #000
$dark-blue   : #1a2631
$gray        : #6c6c6c
$light-gray  : #f3f3f3
$form-gray   : #efefef

//Text
$base__font-size : 16px

//Breakpoints
$md__brkpoint: 740px
$lg__brkpoint: 940px